.form{
  width: 100%;
  max-width: 480px;
  padding: 30px;
  box-sizing: border-box;

  border: 2px solid #c8c6c7;

  &__title{
    font-size: 26px;
    font-weight: bold;
    color: #191919;
    margin: 0 0 30px;
  }
  &__row{
    margin-bottom: 40px;
  }
  &__button{
    margin-top: 30px;;
    margin-bottom: 20px;;
  }
  &__rkn{
    font-size: 14px;
    line-height: 18px;
    a{
      color: #61d5a0;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}