.button{
  display: block;
  width: 100%;
  line-height: 40px;
  background: #222;
  text-align: center;

  font-size: 18px;
  color: #fff;
  border: none;
  border-radius: 3px;;

  &:disabled,
  &_disabled{
    opacity: 0.5;
  }
}