@import (css) url(//fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=cyrillic);
body{
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
#app{
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  justify-content: center;
  align-items: center;
}