.input{
  position: relative;

  &__placeholder{
    position: absolute;
    top: 0;
    left: 0;

    font-size: 16px;
    line-height: 30px;
    color: #222;

    pointer-events: none;
    transition: 300ms linear all;

    &_focus{
      top: 30px;
      font-size: 14px;
    }
    &_success{
      color: #73d49d;
    }
    &_error{
      color: #d47373;
    }
  }
  &__input{
    width: 100%;
    border: none;
    border-bottom: 1px solid #ebebeb;

    line-height: 30px;
    font-size: 16px;
    transition: 300ms linear all;
    
    &_success{
      border-color: #73d49d;
    }
    &_error{
      border-color: #d47373;
    }
  }
}