.form-result{
  text-align: center;

  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box;

  &__icon{
    display: block;
    margin: 0 auto 20px;
    
    width: 60px;
    height: 60px;
    border-radius: 100%;

    position: relative;

    &_success{
      background: #73d49d;
      &:before{
        content: "";
        display: block;

        width: 25px;
        height: 15px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%) rotate( -45deg );
        transform-origin: 25% 25%;
        
        border-bottom: 2px solid #fff;
        border-left: 2px solid #fff;
      }
    }

    &_error{
      background: #d47373;
      &:before{
        content: "";
        display: block;

        width: 35px;
        height: 2px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate( 45deg ) translate(-50%,-50%);
        transform-origin: 0% 0%;
        background: #fff;
      }
      &:after{
        content: "";
        display: block;

        width: 35px;
        height: 2px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: rotate( -45deg ) translate(-50%,-50%);
        transform-origin: 0% 0%;
        background: #fff;
      }
    }

  }
  p{
    font-size: 24px;
    line-height: 28px;
    color: #222;
    margin: 0;

    &:not(:last-child){
      margin-bottom: 5px;
    }
  }
}